$main-bg: rgb(245, 240, 240);
$main-color: #1570cb;

$text-color: #000;
$text-white: #fff;

$btn-main-bg: #335577;
$btn-main-color: #fff;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$mobile-width: 768px;
$tablet-width: 1336px;

$colors: (
    "pink": #e1776e,
    "orange": #f6840a,
    "blue": #1e399b,
    "white": #fff,
    "black": #000,
    "main":#1570cb,
);

$numbers:(0,1,2,3,4,5,6,7,8)
